rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    // User profiles
    match /users/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId);
      allow write: if isSignedIn();
    }

    // Menu
    match /menu/{menuId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    // Config documents
    match /config/{configId} {
      allow read: if true;
      allow update: if isSignedIn();
      allow create, delete: if isSignedIn();
    }

    // Orders Collection
    match /orders/{orderId} {
      allow create: if true;
      allow read, update: if isSignedIn();
      allow delete: if isSignedIn();
    }

    // Expenses Collection
    match /expenses/{expenseId} {
      allow read, write: if isSignedIn();
    }

    // Default catch-all
    match /{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}