.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.main-content.not-home {
  padding-top: 4.5rem;
}

@media (min-width: 768px) {
  .main-content.not-home {
    padding-top: 6rem;
  }
}
